[ndbd default]
NoOfReplicas={{ replicas | length }}  # Number of replicas
DataMemory=98M

[ndb_mgmd]
HostName={{ master_node }} 
DataDir={{ cluster_config_dir }}  # Directory for the log files

{% for r in replicas -%}

[ndbd]
NodeId={{ loop.index + 1 }}            # Node ID for this data node
HostName={{ hostvars[r].ansible_host }} # Hostname/IP of the first data node
DataDir={{ download_dir }}/{{ ndb_dir }}/data   # Remote directory for the data files

{% endfor %}

[mysqld]
# SQL node options:
HostName={{ master_node }} # In our case the MySQL server/client is on the same Droplet as the cluster manager
